h1,p,h2{
    text-align: center;
}
body{
    background-image: url(/images/beans.jpg);
    color: #e61a1a;
    font-family: sans-serif;
    padding: 20px;
}
.menu {
    width: 80%;
    background-color: gold;
    margin:  0 auto;
    padding:  20px;
    max-width: 500px;
}
/*  this is a comment  */
img{
    display: block;
    margin: 0 auto;
}
.flavor,.dessert{
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%;
}
.item p{
    display: inline-block;
    width: 49%;
    margin: 5px 0;
    font-size: 18px;
}
h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.established{
    font-style: italic;
}
hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
}
.bottom-line{
    margin-top: 25px;
}
footer{
    font-size: 14px;
}
a{
    color: black;
}


